<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 text-secondary fw-bold">Add Student</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laboriosam praesentium repudiandae expedita officiis dicta
         laudantium adipisci? Laborum aspernatur at omnis
         repellendus quis, mollitia sapiente natus autem tenetur
          nulla! Eius, adipisci!
      </p>
    </div>
  </div>
</div>


<!-- Loading Spinner -->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!-- Error Message -->
<div *ngIf="!loading&&errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>


<!--Create Student Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="submit()" >
        <div class="mb-2">
          <input
          [(ngModel)]="student.name"
          name="name"
          type="text"
          class="form-control"
          placeholder="Name"
          required>
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="student.photo"
          name="photo"
          type="text"
          class="form-control"
          placeholder="Photo URL"
          required>
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="student.email"
          name="email"
          type="email"
          class="form-control"
          placeholder="Email"
          required>
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="student.mobile"
          name="mobile"
          type="number"
          class="form-control"
           placeholder="Mobile"
           required>
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="student.level"
          name="level"
          type="text"
          class="form-control"
          placeholder="Level"
          required>
        </div>
        <div class="mb-2">
          <label>Select School:</label>
          <select
          required
          class="form-control"
          *ngIf="schools.length>0"
          [(ngModel)]="student.schoolId"
          name="schoolId">

          <option
             [value]="school.id"
             *ngFor="let school of schools">
             {{school.name}}</option>

          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="Create">
          <a routerLink="/" class="btn btn-danger ms-3">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
      [src]="student.photo"
      class="contact-img"
      alt="Selected Img">
    </div>
  </div>
</div>
