<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 text-secondary fw-bold">View Student</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laboriosam praesentium repudiandae expedita officiis dicta
         laudantium adipisci? Laborum aspernatur at omnis
         repellendus quis, mollitia sapiente natus autem tenetur
          nulla! Eius, adipisci!
      </p>
    </div>
  </div>
</div>

<!-- Student Details-->
<div class="container">
  <div class="row  align-items-center">
    <div class="col-sm-4">
      <img
      src="https://cdn-icons-png.flaticon.com/512/219/219986.png"
      class="contact-img-big"
      alt="Student Profile Img">
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Name : <span class="fw-bold">Name</span></li>
        <li class="list-group-item list-group-item-primary">Email : <span class="fw-bold">Email</span></li>
        <li class="list-group-item list-group-item-primary">Level : <span class="fw-bold">Level</span></li>
        <li class="list-group-item list-group-item-primary">mobile : <span class="fw-bold">mobile</span></li>
        <li class="list-group-item list-group-item-primary">School Name : <span class="fw-bold">School Name</span></li>
      </ul>
    </div>
  </div>
    <div class="row mt-3">
      <div class="col">
        <a routerLink="/" class="btn btn-danger ms-3">
          <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
      </div>
    </div>
</div>
