.image_with_badge_container {
  display: inline-block; /* keeps the img with the badge if the img is forced to a new line */
  position: relative;
  margin-bottom: 5px;
}

.badge-on-image {
  position: absolute;
  bottom: 100px; /* position where you want it */
  left: 100px;
  padding: 3px 6px;
}
