<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 text-secondary fw-bold">Edit Student</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laboriosam praesentium repudiandae expedita officiis dicta
         laudantium adipisci? Laborum aspernatur at omnis
         repellendus quis, mollitia sapiente natus autem tenetur
          nulla! Eius, adipisci!
      </p>
    </div>
  </div>
</div>

<!--Edit Student Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name" >
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Photo URL" >
        </div>
        <div class="mb-2">
          <input type="email" class="form-control" placeholder="Email" >
        </div>
        <div class="mb-2">
          <input type="number" class="form-control" placeholder="Mobile" >
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Level" >
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option value="">Select a School</option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="Update">
          <a routerLink="/" class="btn btn-danger ms-3">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
      src="https://cdn-icons-png.flaticon.com/512/219/219986.png"
      class="contact-img"
      alt="Selected Img">
    </div>
  </div>
</div>
