<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h4 text-secondary fw-bold">Edit Student</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laboriosam praesentium repudiandae expedita officiis dicta
         laudantium adipisci? Laborum aspernatur at omnis
         repellendus quis, mollitia sapiente natus autem tenetur
          nulla! Eius, adipisci!
      </p>
    </div>
  </div>
</div>

<!--Edit Student Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="submit()">
        <div class="mb-2">
          <input
          required="true"
          [value]="student.name"
          [(ngModel)]="student.name"
          name="name"
           type="text"
           class="form-control"
            placeholder="Name" >
        </div>
        <div class="mb-2">
          <input
          required="true"
          [value]="student.photo"
          [(ngModel)]="student.photo"
          name="photo"
          type="text" class="form-control" placeholder="Photo URL" >
        </div>
        <div class="mb-2">
          <input
          required="true"
          [value]="student.email"
          [(ngModel)]="student.email"
          name="email"
          type="email" class="form-control" placeholder="Email" >
        </div>
        <div class="mb-2">
          <input
          required="true"
          [value]="student.mobile"
          [(ngModel)]="student.mobile"
          name="mobile"
          type="number" class="form-control" placeholder="Mobile" >
        </div>
        <div class="mb-2">
          <input
          required="true"
          [value]="student.level"
          [(ngModel)]="student.level"
          name="level"
          type="text" class="form-control" placeholder="Level" >
        </div>
        <div class="mb-2">
          <select class="form-control"
          required="true"
          [value]="student.schoolId"
          [(ngModel)]="student.schoolId"
          name="schoolId">
            <option value="">Select a School</option>
            <option
            [value]="school.id"
            *ngFor="let school of schools">{{school.name}}</option>

          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="Update">
          <a routerLink="/" class="btn btn-danger ms-3">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
      [src]="student.photo"
      class="contact-img"
      alt="Selected Img">
    </div>
  </div>
</div>
